html {
  box-sizing: border-box;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.page-container {
  height: 100vh;
}

.heading {
  text-align: center;
  padding: 2%;
}

#main-heading {
  padding-bottom: 10px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

.show-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  bottom: 40%;
  width: 90%;
  height: 5rem;
  position: absolute;
  text-align: center;
}

button {
  margin: 5px;
  padding: 3px;
}

.element-group {
  display: block;
  columns: 1;
  justify-content: center;
}

.hide-btn {
  width: 70%;
}

.show-btn {
  width: 250px;
}
